body {
  text-align: center;
  color: #000f08;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Titillium Web', 'Open Sans', sans-serif; /* esta es la propiedad que añadimos
 */
}

header {
  background-image: url(../img/bg-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Propiedades Agregadas */
  font-family: "Open sans";
  text-shadow: 0px 3px 6px black;
  text-align: right;
  color: white;
  min-height: 310px;
}
header h1{
  font-size: 60px;
}
header h3{
  font-size: 40px;
  font-weight: lighter;
}

.icono {
  width: 1rem !important;
  padding-left: 3%;
}
.icono svg {
  fill: #ffffff;
}

#proxima-charla {
  background: #a4452c;
  padding: 100px;
  color: white;
}
#proxima-charla .wrapper {
  width: 800px;
  margin: auto;
}

.wrapper img {
  width: 25%;
}
.wrapper .texto {
  width: 70%;
  margin-left: 4%;
}
.wrapper img, .texto {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

p {
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
}
.separador {
  height:1px;
  width: 100%;
  display: inline-block;
}

#ubicacion{
  min-height: 500px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
#ubicacion div.contenido {
  padding-top:60px;
}
.text-align-center{
  text-align: center;
}
.text-center{
  text-align: center;
}
nav.oscuro {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 64px;
  text-align: left;
}
nav ul{
  padding-bottom: 10px;
}
nav ul li{
  display: inline-block;
  padding-left: 4px;
}
nav ul li a{
  color: #ffffff;
}
#eventos{
  border-color: #000;
  min-height: 500px;
  margin: auto;
}
#eventos .titulo{
  padding-top: 10px;
}

.three-column{
  height: 300px;
  margin: auto;
  display: inline-block;
}

.three-column .eventos-column{
  height: 300px;
  float: left;
  padding: 8px;
}

.first-column{
  padding-left: 40px;
}

footer {
  font-family: 'Titillium Web', "Open Sans", sans-serif;
  text-align: center;
  background: #000f08;
  color: white;
  padding-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
i {
  font-size: 30px
}